html,
body {
  margin: 0;
  padding: 0;
  font-family: 'Ubuntu', sans-serif;
}

* {
  box-sizing: border-box;
}

.title {
  text-align: center;
  margin-top: 70px;
}

.template {
  display: none;
}

.btn {
  width: 200px;
  margin: 12px 4px 0;
  padding: 8px;
  font-size: 15px;
  font-weight: bold;
  background: #fff;
  border: 2px solid black;
  &:hover {
    background: black;
    color: white;
  }
}