.modal {
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  background-color: rgba(0,0,0,0.3);
  display: none;

  .modal-content {
    background: #fff;
    width: 40%;
    margin: 200px auto 0;
    animation-name: modalopen;
    animation-duration: 0.7s;
    box-shadow: 0 2px 4px 0 $grey, 0 3px 12px 0;

    .modal-header {
      padding: 8px 12px;
      background: $grey-lighter;

      h2 {
        text-align: center;
        margin: 12px 0;
      }
    }

    .modal-body {
      padding: 10px;
      text-align: center;

      .message {
        margin: 10px 0 20px;
        font-size: 22px;
      }

      .buttons-wrapper {
        display: flex;

        .btn {
          flex: 1;
        }
      }

      #player-name-form {
        input {
          width: 95%;
          padding: 8px;
          border: 1.5px solid $black;
          font-weight: bold;
          font-size: 15px;
        }
      }
    }
  }
  
  @keyframes modalopen{
    from { opacity: 0}
    to {opacity: 1}
  }
}



